@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-wrapper-on {
    @apply bg-white text-black;
  }

  .menu-wrapper-off {
    @apply bg-transparent text-white;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}